<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online shop</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Niconne'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    {{>header}}
    <div class="container-fluid">
        <div id="main-error-message" class="row">
            <div class="alert alert-danger error-message" role="alert" style="display: block;">{{error}}</div>
        </div>
    </div>
    {{>footer}}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/shop.js"></script>
</body>

</html>