<div id="shoppingCartProducts">
    {{> message}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr id="product{{this.product._id}}" class="item">
                <td class="text-center"><img class="small" src="{{this.product.image}}"
                        alt="{{this.product.name}}">{{this.product.name}}</td>
                <td class="price">$ {{this.product.price}}</td>
                <td class="count">{{this.count}}</td>
                <td>
                    {{#if this.count}}
                    <a class="btn btn-default remove-product" data-id-product="{{this.product._id}}"
                        data-count="1">Remove</a>
                    <a class="btn btn-default remove-product all" data-id-product="{{this.product._id}}"
                        data-count={{this.count}}>Remove all</a>
                    {{else}}
                    <a class="btn btn-default remove-product" data-id-product="{{this.product._id}}"
                        data-count="1">Remove</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="2" class="text-right"><strong>Total:</strong></td>
                <td colspan="2" class="total">$ {{totalCost}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
            <form action="/api/order" class="form-order" method="post">
                <button class="btn btn-primary btn-block" type="submit">Make order</button>
            </form>
        </div>
    </div>
</div>