<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="box-success-message text-left"><strong>Success!</strong></span>
</div>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="box-error-message text-left"><strong>Warning!</strong></span>
</div>