<div id="order">
    {{#if success}}
    <div class="alert alert-success" style="display: block;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="box-success-message text-left"><strong>{{success}}</strong></span>
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger" style="display: block;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="box-error-message text-left"><strong>{{error.message}}</strong></span>
    </div>
    {{/if}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr id="product{{this._id}}" class="order-item">
                <td class="text-center">
                    <div class="thumbnail" style="width: 120px; height: 120px; margin:0px auto;">
                        <img src="{{this.image}}" alt="{{this.name}}">
                    </div>
                    {{this.name}}
                </td>
                <td class="price">$ {{this.price}}</td>
                <td class="count">{{this.count}}</td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="1" class="text-right"><strong>Total:</strong></td>
                <td colspan="2" class="total">$ {{totalCost}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
            <a href="/api/my-orders" class="btn btn-default">My orders</a>
        </div>
    </div>
</div>