<div id="user-orders">
    {{> message}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr id="order{{this._id}}" class="item">
                <td class="order-number"><a href="/api/order/{{this._id}}">Order # {{this.number}}</a></td>
                <td class="created">
                    {{dateFormat this.createdAt "dddd, MMMM Do YYYY, h:mm a"}}
                </td>
                <td>
                    <button type="button" class="btn btn-default remove-order" data-id-order="{{this._id}}">
                        Remove
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>